<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="uniWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="uniHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value />
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>523</value>
            </setting>
            <setting name="gridColorx10" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isToridial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNeighbors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gridCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hudCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </Game_of_Life.Properties.Settings>
    </userSettings>
</configuration>